extends layout

block content
  h1 Contact Us
  p If you have any questions or inquiries, please don't hesitate to get in touch with us.
  
  h2 Contact Information
  p Phone: 123-456-7890
  p Email: info@smallbusiness.com
  
  h2 Visit Us
  p Small Business Headquarters
  p 123 Main Street
  p Canada, Ontario,  Brampton
